@{
    ViewBag.Title = "Home Page";
}

<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <div class="hero-slideshow owl-carousel">

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(../Content/HomeTemplate/img/bg-img/1.jpg);"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInUp" data-delay="100ms">Invest in your dreams</h6>
                            <h2 data-animation="fadeInUp" data-delay="300ms">get an IDEAL <span>SERVICE</span> now</h2>
                            <p data-animation="fadeInUp" data-delay="500ms">Register now and take your service now..</p>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(../Content/HomeTemplate/img/bg-img/5.jpg);"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInDown" data-delay="100ms">Invest in your dreams</h6>
                            <h2 data-animation="fadeInDown" data-delay="300ms">which is ur  <span>ideal</span> bank</h2>
                            <p data-animation="fadeInDown" data-delay="500ms">Fill your life with experiences,not with things.Have stories to tell,not stuff</p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(../Content/HomeTemplate/img/bg-img/1.jpg);"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInDown" data-delay="100ms">Invest in your dreams</h6>
                            <h2 data-animation="fadeInDown" data-delay="300ms">BE A <span>INTELLIGENT  AND SMART </span> DECISION MAKER</h2>
                            <p data-animation="fadeInDown" data-delay="500ms">Fill your life with experiences,not with things.Have stories to tell,not stuff</p>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

        <!-- Single Slide -->
        <div class="single-slide bg-img">
            <!-- Background Image-->
            <div class="slide-bg-img bg-img bg-overlay" style="background-image: url(../Content/HomeTemplate/img/bg-img/5.jpg);"></div>
            <!-- Welcome Text -->
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-center">
                    <div class="col-12 col-lg-9">
                        <div class="welcome-text text-center">
                            <h6 data-animation="fadeInDown" data-delay="100ms">Invest in your dreams</h6>
                            <h2 data-animation="fadeInDown" data-delay="300ms">CHOOSE THE <span>BEST FROM BETTER</span> ONES...</h2>
                            <p data-animation="fadeInDown" data-delay="500ms">Compare between ...Different banks...</p>
                           
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide Duration Indicator -->
            <div class="slide-du-indicator"></div>
        </div>

    </div>
</div>
<!-- ##### Hero Area End ##### -->
<!-- ##### Features Area Start ###### -->
<section class="features-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <!-- Section Heading -->
                    <div class="section-heading">
                        <div class="line"></div>
                        <p>Take look at our</p>
                        <h2 style="font-family:'Times New Roman'">OUR SERVICES</h2>
                    </div>
                    <h6>Compare and get the best place for your money investment and retrieval.It is working on a mission to bring transparency,simplicity and convinience</h6>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <img src="~/Content/HomeTemplate/img/bg-img/2.jpg" alt="">
                    <h5>We take care of you</h5>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <img src="~/Content/HomeTemplate/img/bg-img/3.jpg" alt="">
                    <h5>No documents needed</h5>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-features-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <img src="~/Content/HomeTemplate/img/bg-img/4.jpg" alt="">
                    <h5>Fast &amp; easy loans</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Features Area End ###### -->
<!-- ##### Call To Action Start ###### -->
<section class="cta-area d-flex flex-wrap">
    <!-- Cta Thumbnail -->
    <div class="cta-thumbnail bg-img jarallax" style="background-image: url(../Content/HomeTemplate/img/bg-img/5.jpg);"></div>

    <!-- Cta Content -->
    <div class="cta-content">
        <!-- Section Heading -->
        <div class="section-heading white">
            <div class="line"></div>
            
            <h2 style="font-family:'Times New Roman'">HELPING  PEOPLE  TO FIND A  BANK THAT MATCHES YOU.....</h2>
        </div>
        <h4 style="font-family:'Times New Roman'">Find the best bank that provides the best service according to ones financial status and needs</h4>
        <div class="d-flex flex-wrap mt-50">
            <!-- Single Skills Area -->
            <div class="single-skils-area mb-70 mr-5">
                <div id="circle" class="circle" data-value="0.90">
                    <div class="skills-text">
                        <span>90%</span>
                    </div>
                </div>
                <p style="font-family:'Times New Roman'">profit</p>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skils-area mb-70 mr-5">
                <div id="circle2" class="circle" data-value="0.75">
                    <div class="skills-text">
                        <span>75%</span>
                    </div>
                </div>
                <p style="font-family:'Times New Roman'">customer satisfaction</p>
            </div>

            <!-- Single Skills Area -->
            <div class="single-skils-area mb-70">
                <div id="circle3" class="circle" data-value="0.97">
                    <div class="skills-text">
                        <span>97%</span>
                    </div>
                </div>
                <p style="font-family:'Times New Roman', Times, serif">Decision Making</p>
            </div>
        </div>
       
    </div>
</section>
<!-- ##### Call To Action End ###### -->
<!-- ##### FAQ Area Start ###### -->
<section class="credit-faq-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- FAQ Area -->
            <div class="col-12 col-lg-6">

                <div class="accordions mb-100" id="accordion" role="tablist" aria-multiselectable="true">
                    <!-- single accordian area -->
                    <div class="panel single-accordion">
                        <h6>
                            <a role="button" class="" aria-expanded="true" aria-controls="collapseOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                How bank provides a loan
                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            </a>
                        </h6>
                        <div id="collapseOne" class="accordion-content collapse show">
                            <p> Bank will look into your salary slips and banks statements to calculate the income level.
 It then calculates the amount that is saved, bank usually assumes 30% of your income as savings, say your income is ₹50,000, and then saving is ₹15,000.
 If there are existing loans EMIs it will be reduced from the income.
 Banks do a backward calculation to understand how much loan amount can be offered according to the saving amount determined </p>
                        </div>
                    </div>
                    <!-- single accordian area -->
                    <div class="panel single-accordion">
                        <h6>
                            <a role="button" class="collapsed" aria-expanded="true" aria-controls="collapseTwo" data-parent="#accordion" data-toggle="collapse" href="#collapseTwo">
                                documents for fixed deposit
                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            </a>
                        </h6>
                        <div id="collapseTwo" class="accordion-content collapse">
                            <p>
Resident:Indian,
Passport/
PAN card/
Voter ID card/
Driving licence/
Government ID card/,
Photo ration card,
Senior citizen ID card,
Bank Statement with Cheque,
Certificate/ ID card issued by Post office</p>
                        </div>
                    </div>
                    <!-- single accordian area -->
                    <div class="panel single-accordion">
                        <h6>
                            <a role="button" aria-expanded="true" aria-controls="collapseThree" class="collapsed" data-parent="#accordion" data-toggle="collapse" href="#collapseThree">
                                Register for free!!..
                                <span class="accor-open"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                <span class="accor-close"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            </a>
                        </h6>
                        <div id="collapseThree" class="accordion-content collapse">
                            <p>U can come accross which bank will be suited for ur savings and needs.</p>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>
<!-- ##### FAQ Area End ###### -->
<!-- ##### Call To Action Start ###### -->
<section class="cta-2-area wow fadeInUp" data-wow-delay="100ms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Cta Content -->
                <div class="cta-content d-flex flex-wrap align-items-center justify-content-between">
                    <div class="cta-text">
                        <h4 style="font-family:'Times New Roman'">Do u require a friend to give u financial solutions? GET IN TOUCH WITH US.... </h4>
                    </div>
                    <div class="cta-btn">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Call To Action End ###### -->

<!-- ##### Services Area Start ###### -->
<section class="services-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Section Heading -->
                <div class="section-heading text-center mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <div class="line"></div>
                    <p style="font-family:'Times New Roman'">Take look at our</p>
                    <h2 style="font-family:'Times New Roman'">Our services</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="200ms">
                    <div class="icon">
                        <i class="icon-profits"></i>
                    </div>
                    <div class="text">
                        <h4 style="font-family:'Times New Roman'"> THE LOANS</h4>
                        <p style="font-family:'Times New Roman'">U can compare between banks for different loans and get the bank with least intrest rate.. </p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <div class="icon">
                        <i class="icon-money-1"></i>
                    </div>
                    <div class="text">
                        <h4 style="font-family:'Times New Roman'">EASY AND FAST ANSWER</h4>
                        <p style="font-family:'Times New Roman'">Get solutions on the go...</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="400ms">
                    <div class="icon">
                        <i class="icon-coin"></i>
                    </div>
                    <div class="text">
                        <h4 style="font-family:'Times New Roman'">NO ADDITIONAL PAPERS</h4>
                        <p style="font-family:'Times New Roman'">Getting ur financial solution digitally..</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <div class="icon">
                        <i class="icon-smartphone-1"></i>
                    </div>
                    <div class="text">
                        <h4 style="font-family:'Times New Roman'">BEST OFFERS</h4>
                        <p style="font-family:'Times New Roman'">Find best offers for getting a loan and putting a deposit..</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="600ms">
                    <div class="icon">
                        <i class="icon-diamond"></i>
                    </div>
                    <div class="text">
                        <h4 style="font-family:'Times New Roman'">GOOD INVESTMENT</h4>
                        <p style="font-family:'Times New Roman'">Get the bank providing highest rate for ur amount..</p>
                    </div>
                </div>
            </div>

            <!-- Single Service Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-service-area d-flex mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <div class="icon">
                        <i class="icon-piggy-bank"></i>
                    </div>
                    <div class="text">
                        <h4 style="font-family:'Times New Roman'">ACCUMULATION GOALS</h4>
                        <p>To help u use ur money wisely...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Services Area End ###### -->

<!-- ##### Miscellaneous Area Start ###### -->
<section class="miscellaneous-area bg-gray section-padding-100-0">
    <div class="container">
        <div class="row align-items-end justify-content-center">
            <!-- Add Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="add-area mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <a href="#"><img src="~/Content/HomeTemplate/img/bg-img/images (1).jpg" width="750" alt=""></a>
                </div>
            </div>

            <!-- Contact Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="contact--area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <!-- Section Heading -->
                    <div class="section-heading mb-50">
                        <div class="line"></div>
                        <h2>Get in touch</h2>
                    </div>
                    <!-- Contact Content -->
                    <div class="contact-content">
                        <!-- Single Contact Content -->
                        <div class="single-contact-content d-flex align-items-center">
                            <div class="icon">
                                <img src="~/Content/HomeTemplate/img/core-img/location.png" alt="">
                            </div>
                            <div class="text">
                                <p>3007 Rupay Galaxy <br> Kerala,India</p>
                            </div>
                        </div>
                        <!-- Single Contact Content -->
                        <div class="single-contact-content d-flex align-items-center">
                            <div class="icon">
                                <img src="~/Content/HomeTemplate/img/core-img/call.png" alt="">
                            </div>
                            <div class="text">
                                <p>0991000110</p>
                                
                            </div>
                        </div>
                        <!-- Single Contact Content -->
                        <div class="single-contact-content d-flex align-items-center">
                            <div class="icon">
                                <img src="~/Content/HomeTemplate/img/core-img/message2.png" alt="">
                            </div>
                            <div class="text">
                                <p>contact@rupaygalaxy.com</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- News Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="news--area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <!-- Section Heading -->
                    <div class="section-heading mb-50">
                        <div class="line"></div>
                        <h2>The news</h2>
                    </div>

                    <!-- Single News Area -->
                    <div class="single-news-area d-flex align-items-center">
                        <div class="news-thumbnail">
                            <img src="~/Content/HomeTemplate/img/bg-img/10.jpg" alt="">
                        </div>
                        <div class="news-content">
                            <span>July 18, 2018</span>
                            <a href="#">How to get the best loan online</a>
                            <div class="news-meta">
                                <a href="#" class="post-author"><img src="~/Content/HomeTemplate/img/core-img/pencil.png" alt=""> Jane Smith</a>
                                <a href="#" class="post-date"><img src="~/Content/HomeTemplate/img/core-img/calendar.png" alt=""> April 26</a>
                            </div>
                        </div>
                    </div>

                    <!-- Single News Area -->
                    <div class="single-news-area d-flex align-items-center">
                        <div class="news-thumbnail">
                            <img src="~/Content/HomeTemplate/img/bg-img/11.jpg" alt="">
                        </div>
                        <div class="news-content">
                            <span>July 18, 2018</span>
                            <a href="#">A new way to finance your dream home</a>
                            <div class="news-meta">
                                <a href="#" class="post-author"><img src="~/Content/HomeTemplate/img/core-img/pencil.png" alt=""> Jane Smith</a>
                                <a href="#" class="post-date"><img src="~/Content/HomeTemplate/img/core-img/calendar.png" alt=""> April 26</a>
                            </div>
                        </div>
                    </div>

                    <!-- Single News Area -->
                    <div class="single-news-area d-flex align-items-center">
                        <div class="news-thumbnail">
                            <img src="~/Content/HomeTemplate/img/bg-img/12.jpg" alt="">
                        </div>
                        <div class="news-content">
                            <span>July 18, 2018</span>
                            <a href="#">10 tips to get the best loan for you</a>
                            <div class="news-meta">
                                <a href="#" class="post-author"><img src="~/Content/HomeTemplate/img/core-img/pencil.png" alt=""> Jane Smith</a>
                                <a href="#" class="post-date"><img src="~/Content/HomeTemplate/img/core-img/calendar.png" alt=""> April 26</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Miscellaneous Area End ###### -->
<!-- ##### Newsletter Area Start ###### -->
<section class="newsletter-area section-padding-100 bg-img jarallax" style="background-image: url(~/Content/HomeTemplate/img/bg-img/6.jpg);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="nl-content text-center">
                    <h2>Subscribe to our newsletter</h2>
                    <form action="#" method="post">
                        <input type="email" name="nl-email" id="nlemail" placeholder="Your e-mail">
                        <button type="submit">Subscribe</button>
                    </form>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Newsletter Area End ###### -->
